src/main/resources/wsdl/loanEligebilty.wsdl

<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:sch="http://www.tekup.de/soap/models/whitetest"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.tekup.de/soap/models/whitetest" 
  targetNamespace="http://www.tekup.de/soap/models/whitetest">
<wsdl:types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://www.tekup.de/soap/models/whitetest" elementFormDefault="qualified">
		    <xsd:element name="StudentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="studentId" type="xsd:int"/>
                <xsd:element name="examCode" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
 
    <xsd:element name="WhiteTestResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="student" type="tns:Student"/>
                <xsd:element name="exam" type="tns:Exam"/>
                <xsd:element name="date" type="xsd:dateTime"/>
                 <xsd:element name="badRequests" type="xsd:string"/>
               
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
  
        <xsd:complexType name="Address">
            <xsd:sequence>
                <xsd:element name="street" type="xsd:string"/>
                <xsd:element name="city" type="xsd:string"/>
                <xsd:element name="postecode" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    
     
    <xsd:complexType name="Student">
        <xsd:sequence>
			<xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address"  type="tns:Address"/>
        </xsd:sequence>
    </xsd:complexType>
	
	<xsd:complexType name="Exam">
        <xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
  
	</xsd:schema>
</wsdl:types>
<wsdl:message name="StudentRequest">
	<wsdl:part element="tns:StudentRequest" name="StudentRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="WhiteTestResponse">
	<wsdl:part element="tns:WhiteTestResponse" name="WhiteTestResponse"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="WhiteTestDetails">
	<wsdl:operation name="Student">
		<wsdl:input message="tns:StudentRequest" name="StudentRequest"> </wsdl:input>
	</wsdl:operation>
	<wsdl:operation name="WhiteTest">
		<wsdl:output message="tns:WhiteTestResponse" name="WhiteTestResponse"> </wsdl:output>
	</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="WhiteTestDetailsSoap11" type="tns:WhiteTestDetails">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Student">
			<soap:operation soapAction=""/>
			<wsdl:input name="StudentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="WhiteTest">
			<soap:operation soapAction=""/>
				<wsdl:output name="WhiteTestResponse">
					<soap:body use="literal"/>
				</wsdl:output>
			</wsdl:operation>
	</wsdl:binding>
<wsdl:service name="WhiteTestDetailsService">
	<wsdl:port binding="tns:WhiteTestDetailsSoap11" name="WhiteTestDetailsSoap11">
		<soap:address location="http://localhost:8080/ws"/>
	</wsdl:port>
</wsdl:service>
</wsdl:definitions>